
$screen-xs-min: 300px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops
// Mixins
@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} } // Small devices
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} } // Extra large devices




body{
background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%);
animation: color-me-in 5s; 
}
@keyframes color-me-in {
  
  0% {
    background: rgba(173, 120, 77, 0.6);
  }
  50% {
    background: rgba(179, 151, 99, 0.6);
  }
  75% {
    background: rgb(247, 188, 155);
  }
  100% {
    background: rgb(240, 189, 114);
  }
}

.App {
  text-align: center;
  margin: 3%;
}

.App-header{
  text-align: center;
  margin:auto;
  font-size: 3em;
    @include xs { 
       margin: auto;
        top:100px;   
        font-size: 1.5em;
    }
  
}
// ===== formFeild ==============

.Form-container{
  z-index: 2; 
  margin:auto; 
  width:100%;
  padding-left: 30%;
  padding-right: 30%;

  @include xs {         // 300px window width and more
    margin: auto;
    width: 100%;
    top:20px;

  }
    @include md {        // 768px window width and more
    margin: auto;
    width: 100%;
    
  }
 
  .form{
    z-index: 0;
    margin:auto;
    
    @include xs {         // 300px window width and more
    margin:7%
    }
  };

}

.card-container {
  display: flex; 
  flex-direction: column-reverse;
  justify-content: center; 
  justify-items: center;
  margin:auto;
  top: 500px;
  z-index: 10;

  @include xs { 
    margin:auto;        // 300px window width and more
    top: 400px; 
    justify-content: center; 
    width: 50%;
    padding-bottom: 5%;

    
  }
  @include md { 
    margin:auto;        // 768px window width and more 
    top: 480px; 
     margin-left:40%;
    
  }
  
}


