.container {
	z-index: 10;
	position:relative ;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height:100%;
	max-height: 10vh;
	min-height: 10rem;
	background-blend-mode: soft-light;
	background-position: center center;
	padding: 10px;

		.robo {
		background-image: url('./Assets/roboto-logo.svg');
		z-index: 10;
		background-size: auto 100%;
		margin:auto;	
		width: 60px;
		height: 60px;
		// will-change: background-position;
		transform:translateX(0px) translate3d(0,0,0);
		animation: 0.5s circleAnimation infinite ease-in-out;
		}

}





